.img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.left,
.right {
    height: 100%;
    width: 50%;
    position: absolute;
    z-index: 3;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Control the left side */
.left {
    left: 0;
    width: 33%;
    /* using flex to justify the image inside*/
    display: flex;
    justify-content: center;
}

/* Control the right side */
.right {
    right: 0;
    width: 67%;
    padding-left: 10px;
}

.verticalcenter {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}